name: build release

on: 
  push:
    branches:
      - "master"   
jobs:
  build:
   runs-on: ubuntu-latest
   strategy:
    matrix:
      version: [14.x,15.x,18.x]
   steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{matrix.node-version}}
        uses: action/setup-node@v3
        with:
          node-version: ${{matrix.node-version}}
      - name: build
        run: |
         npm install 
         npm webpack  